name: Functional - Pytest + Docker Build/Push

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  pytest:
    name: Run Pytest Tests
    runs-on: ubuntu-latest

    env:
      JWT_SECRET: ${{ secrets.JWT_SECRET }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: backend/requirements.txt

      - name: Install backend dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt
          pip install pytest

      - name: Run pytest
        run: |
          pytest backend/tests

  docker-build-and-push:
    name: Build & Push Backend Image
    runs-on: ubuntu-latest
    needs: pytest

    # Build on PRs too, but only push on push events
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to DockerHub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Backend Image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/hasad-backend:${{ github.sha }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/hasad-backend:latest \
            ./backend

      - name: Build Frontend Image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/hasad-frontend:${{ github.sha }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/hasad-frontend:latest \
            ./frontend

      - name: Push Backend Image
        if: github.event_name == 'push'
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/hasad-backend:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/hasad-backend:latest

      - name: Push frontend Image
        if: github.event_name == 'push'
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/hasad-frontend:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/hasad-frontend:latest


